﻿body {
    background: #CCD2D1;
    margin: 0
}

.Test {
    display: flex;
    text-align: center;
    padding-top: 50px;
    border-radius: 2px;
    position: relative;
}

h1 {
    color: black;
}

h2 {
    color: black;
}

.divConsulta {
    background-color: white;
    padding-top: 20px;
}

.button {
    border-radius: 6px;
    background-color: black;
    color: white;
}

.titulo {
    font-size: 17px;
    font-family: 'Abril Fatface', cursive;
    font-weight: bold;
    color:white;
}
.rowp{
    margin-top:40px;
}
.form {
    padding-top: 15px;
}
.labelRes {
    font-weight: bold;
    color: #E85B02;
}

.Titulos{
    color:white;
}
.subtitulos {
    color: #E85B02;
}
.texboxin {
    background-color: black;
    color: white;
    border-radius: 15px;
}